<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1
      style="
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      URL Shortner
    </h1>
    <br /><br /><br />
    <% if (locals.id) { %>
    <p>Short url generated:http://localhost:8001/url/<%= id %></p>
    <% } %>
    
    <div class="container">
      <form method="POST" action="/url">
        <label>Enter your original url </label>
        <input type="text" name="url" placeholder="enter url here" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
     <% if (locals.urls) { %>
      <table>
        <thead>
           <th>S no.</th>
           <th>shortId</th>
           <th>Redirect URL</th>
           <th>Clicks</th>
        </thead>
        <tbody>
           <% urls.forEach((url,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= url.shortId %></td>
              <td><%= url.redirectedURL %></td>
              <td><%= url.visitedHistory.length %></td>
            </tr>
              <% }) %>
        </tbody>
      </table>
     <% } %>
    </div>
  </body>
</html>
